[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
django-cors-headers = "*"
django-environ = "*"
django-rest-auth = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
sqlparse = "*"
authy = "*"
django = "==2.2.4"
channels = "==1.1.8"
asgiref = "==1.1.2"
stripe = "*"

[dev-packages]

[requires]
python_version = "3.6"
